@font-face {
    font-family: 'FuturaCondensed';
    src: url('./fonts/Futura Condensed Extra Bold.otf');
    font-weight: bold;
}
@font-face {
    font-family: 'HelveticaNeue';
    src: url('./fonts/HelveticaNeue-Light.otf');
}
html,body,p,a{
	margin: 0;
	padding: 0;
	font-family: 'HelveticaNeue';
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
.top-row{
    background: #2F2F2F;
    height: 70px;
    position: relative;
}
.top-content{
	margin: 0 auto;
	padding: 5px 0;
	position: relative;
	width: 90%;
}
.top-content .logo{
	display: inline-block;
}
.top-content .continue-to-button{
	color: #fff;
    font-weight: bold;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.top-content .continue-to-button a{
	color: #fff;
    background: #3D3E40;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #a10000;
    margin-left: 5px;
}
.center-row {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
    position: relative;
}
.center-row .shade {
    background-color: rgba(0,0,0,.35);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.main-content {
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 90%;
    z-index: 99;
}
.main-content-logo {
    display: block;
    width: 100%;
}
.main-content-logo:after{
	content: '';
	clear: both;
	display: block;
}
.main-content-logo img {
	float: right;
	margin-top: 30px;
    width: 165px;
}
.center-text{
	color: #fff;
	text-align: center;
    width: 55%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    padding-top: 40px;
}
.main-title {
	font-family: 'FuturaCondensed';
    font-size: 9em;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.9;
}
.description {
    font-size: 24px;
}
a.main-button {
    background: #00B34F;
    padding: 10px;
    display: block;
    font-size: 24px;
    width: 150px;
    margin: 10px auto;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'FuturaCondensed';
    border-radius: 3px;
	background: -webkit-linear-gradient(#00B653, #269049); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#00B653, #269049); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#00B653, #269049); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#00B653, #269049); /* Standard syntax */
    box-shadow: 0 2px 2px #269049;
    -moz-box-shadow: 0 2px 2px #269049;
    -webkit-box-shadow: 0 2px 2px #269049;
}
.terms-apply {
    font-size: 13px;
}
.bottom-row {
    margin-top: 10px;
    background: #000;
    color: #fff;
    padding: 50px;
}
.bottom-main-text {
    text-align: center;
    font-size: 32px;
    width: 80%;
    margin: 0 auto;
}
a.bottom-button {
    background: #D80000;
    padding: 10px;
    text-align: center;
    display: block;
    font-size: 20px;
    width: 150px;
    margin: 10px auto;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 2px;
    background: -webkit-linear-gradient(#D80000, #EA0000);
    background: -o-linear-gradient(#D80000, #EA0000);
    background: -moz-linear-gradient(#D80000, #EA0000);
    background: linear-gradient(#D80000, #EA0000);
    box-shadow: 0 2px 1px #D80000;
    -moz-box-shadow: 0 2px 1px #D80000;
    -webkit-box-shadow: 0 2px 1px #D80000;
}
.color-red {
    color: #D80000;
}
.skewed-shape {
    transform: skew(-27deg);
    width: 65%;
    height: 100%;
    background: rgba(213,0,0, 0.7);
    background: -webkit-linear-gradient(rgba(215,39,54,0.7),rgba(179,0,0,0.7));
    background: -o-linear-gradient(rgba(215,39,54,0.7), rgba(179,0,0,0.7));
    background: -moz-linear-gradient(rgba(215,39,54,0.7), rgba(179,0,0,0.7));
    background: linear-gradient(rgba(215,39,54,0.7), rgba(179,0,0,0.7));
    position: absolute;
    left: 20%;
}
@media (min-width: 1441px){
	.page-wrapper{
		margin: 0 auto;
		width: 1400px;
	}
}
@media (max-width: 1280px){
	.main-title {
	    font-size: 8.5em;
	}
}
@media (max-width: 1024px){
	.main-title {
	    font-size: 7em;
	}
	.description {
	    font-size: 20px;
	}
	.skewed-shape {
	    transform: skew(-16deg);
	    width: 67%;
	}
	.center-text{
		margin-top: 80px;
	}
}
@media (max-width: 768px){
	.main-title {
	    font-size: 5em;
	}
	.description {
	    font-size: 15px;
	}
	.skewed-shape {
	    width: 66%;
	}
	.terms-apply {
	    font-size: 10px;
	}
	a.main-button,
	a.bottom-button {
	    padding: 7px;
	    font-size: 18px;
	    width: 120px;
	}
	.bottom-main-text {
	    font-size: 18px;
	}
	.center-text{
		margin-top: 100px;
	}
}
@media (max-width: 800px){
	.skewed-shape {
	    width: 64%;
	}
	.main-title {
	    font-size: 4.5em;
	}
}
@media (max-width: 640px){
	.skewed-shape {
	    width: 62%;
	}
	.main-title {
	    font-size: 4em;
	}
}
@media (max-width: 480px){
	.top-row{
		height: 120px;
	}
	.top-content .logo{
		display: block;
		text-align: center;
		width: 
	}
	.top-content .continue-to-button{
		position: inherit;
		display: block;
		text-align: center;
		margin-top: 25px;
		font-size: 12px;
	}
	.center-row{
		height: 400px;
	}
	.main-content-logo img{
		width: 100px;
	}
	.main-title {
	    font-size: 3em;
	}
	.description {
	    font-size: 10px;
	}
	.center-text{
		margin-top: 0;
	}
	.skewed-shape {
		transform: skew(-20deg);
	    width: 66%;
	}
	a.main-button, a.bottom-button {
	    padding: 5px;
	    font-size: 14px;
	    width: 100px;
	}
	.terms-apply {
	    font-size: 8px;
	}
	.bottom-row{
		padding: 30px;
	}
	.bottom-main-text {
	    font-size: 13px;
	}
}
@media (max-width: 414px){
	.skewed-shape {
	    width: 62%;
	}
}
@media (max-width: 384px){
	.skewed-shape {
	    width: 61%;
	}
	.main-title {
	    font-size: 2.5em;
	}
	.terms-apply {
	    font-size: 7px;
	}
}
@media (max-width: 375px){
	.center-row {
	    height: 370px;
	}
	.main-content-logo img {
	    width: 85px;
	}
	.main-title {
	    font-size: 2.5em;
	}
	.skewed-shape {
	    width: 61%;
	}
	.bottom-main-text {
	    font-size: 12px;
	    word-spacing: 2px;
	}
	.terms-apply {
	    font-size: 7px;
	}
}
@media (max-width: 320px){
	.top-content .logo img {
	    width: 170px;
	}
	.top-content .continue-to-button {
	    margin-top: 20px;
	    font-size: 10px;
	}
	.top-row {
	    height: 96px;
	}
	.main-content-logo img {
	    width: 65px;
	}
	.main-title {
	    font-size: 2.0em;
	}
	.description {
	    font-size: 8px;
	}
	.skewed-shape {
	    width: 58%;
	}
	.bottom-main-text {
	    font-size: 10px;
	    word-spacing: 2px;
	}
	.terms-apply {
	    font-size: 5px;
	}
	a.main-button, a.bottom-button {
	    padding: 5px;
	    font-size: 10px;
	    width: 80px;
	}
}